[Desktop Entry]
Version=1.0
Name=nnn
Comment=Test the terminal running a command inside it
Exec=gnome-terminal -e "nnn"
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;Utilities;
